* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
}
body {
  place-items: center;
  background-image: url(assets/ch3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  color: rgb(251, 226, 1);
  font-style: italic;
  font-size: 60px;
  font-family: "Sriracha", cursive;
  text-decoration: underline;
  padding-top: 20px;
}

.wishlist-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6rem;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  .wishlist-container {
    grid-template-columns: 1fr;
    gap: 40px;
    justify-items: center;
  }
}
